body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flight-card {
  border-style: solid;
  margin-bottom: 5px;
}
.flight-card a {
  float: right;
}

#flight-title { 
  display: inline;
}
